server {

    listen 443 ssl http2;
    listen       [::]:443 ssl http2;

    server_name {{ server_name }};

    root /var/www/{{ server_name }}/wordpress;

    index index.php index.html index.htm;

    error_page 500 502 503 504 /50x.html;
    access_log /var/log/nginx/{{ server_name }}.access.log main;
    error_log  error;



    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php/php-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
    ssl_certificate /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/privkey.pem;
    ssl_protocols TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;

}
